.footer-container{
    background-color: #040633;
    background-image:
      linear-gradient(
        to top right, 
        #040633,  #7a0c5c
      );
    padding-top: 40px;
}
.text-color{
    color: #999999;
}

.subscribe-btn{
    background-color: #8ebd03;
    border: none;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 18px;
    border-radius: 30px;
    margin: 10px;
    transition: .4s;
}

#subscribe-email{
    background-color: #262626;
    border: 2px solid #535353;
    border-radius: 30px;
    padding: 10px 30px;
    outline: none;
    width: 25rem;
}

.subscribe-btn:hover{
    background-color: #262626;
}

.ftr-border{
    border-bottom: 1px dotted #999999;
}
.link-text{
    transition: .2s;
}
.link-text:hover{
    color: #87b106;
    margin-left: 10px;
    font-weight: bold;
}

.footer-bottom{
    margin-top: 30px;
}

.title-follow{
    color: #87b106;
}

.footer-icon{
    color: #87b106;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 30px;
    border: 1px solid rgb(206, 189, 189);
    transition: .4s;
    cursor: pointer;
}
.footer-icon:hover{
    color: #dfdddd;
    border: 1px solid rgb(255, 255, 255);
}


/* mobile responsive media query  */
@media only screen and (max-width: 688px) {
    #subscribe-email{
        width: 15rem;
    }
}
