.App{
    /* background:linear-gradient( #040633,#0711c5); */
    /* background: url(./img/polygon-scatter-haikei\ \(1\).png); */
    /* background-size: cover; */
    min-height: 100vh;
   

    background-color:  #040633;
    background-image:
      linear-gradient(
        to top right, 
        #040633,  #7a0c5c
      );
    
}